@charset "UTF-8";

#b, #n {
  font-size: 2em;
}

#n {
  height: 60%;
  border: 0.1em solid #000000;
  background-color: #DDDDDD;
}

#m {
  font-size: 1.5em;
  border: 0.3em groove #00FF00;
  background-color: #AAFFAA;
}

#b {
  width: 100%;
}

#m, #b {
  height: 20%;
}

#b, #n, #m {
  padding: 0.1em;
  margin: 0em;
  display: block;
}

#cont {
  text-align: center;
  background-color: #CCCCCC;
  border: 0.6em groove #AAAAAA;
  padding: 0.3em;
}